<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

<mapping class="com.model.CheckAvailabilityModel" />
<mapping class="com.model.RegisterCustomerModel" />



<!-- 
		<mapping class="com.master.model.AccessoryBrandModel" />
		<mapping class="com.master.model.AccessoryCategoryModel" />
		<mapping class="com.master.model.AccessoryModel" />
		<mapping class="com.master.model.AccessorySupplierModel" />
		<mapping class="com.master.model.BrandModel" />
		<mapping class="com.master.model.BrandSupplierModel" />
		<mapping class="com.master.model.SubBrandModel" />
		<mapping class="com.master.model.TaxModel" />
		
		<mapping class="com.purchase.model.MobilePurchaseModel"/>
		<mapping class="com.purchase.model.MobilePurchaseTaxModel"/>
		<mapping class="com.purchase.model.AccessoryPurchaseModel"/>
		<mapping class="com.purchase.model.AccessoryPurchaseTaxModel"/>
		<mapping class="com.purchase.model.IMEIModel"/>
		<mapping class="com.purchase.model.BarcodeModelForAccessories"/>
		
		<mapping class="com.sale.model.MobileSaleModel" />
		<mapping class="com.sale.model.MobileSaleTaxModel"/>
		<mapping class="com.sale.model.AccessorySaleModel"/>
		<mapping class="com.sale.model.AccessorySaleTaxModel"/>
		<mapping class="com.sale.model.AccessorySaleTransactionModel"/>	
		<mapping class="com.stock.model.MobileStockModel"/>
		<mapping class="com.stock.model.AccessoryStockModel"/>
		
 -->	
	</session-factory>

</hibernate-configuration>